.flag{
    position: relative;
    background-color: red;
    height: 600px;
    width: 900px;
    color: white;
}

p{
    font-size: 5rem;
    text-align: center;
    padding: 0;
    margin: 0;
}


div.flag  div{/*faixa azul*/
    position: absolute;
    top: 150px;
    background-color: blue;
    height: 300px;
    width: 100%;
}

div.flag div div { /*circulo branco*/
    color: black;
    position: absolute;
    left: 350px;
    top: 50px;
    background-color: white;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

