html{
    background-color: black;
    color: white;
}

#div-img-txt{
    width: 50%;
    margin-left: 25%;
    margin-top: 100px;
    color: white;
    font-family: 'Libre Baskerville', serif;
    text-align: center;
}

#img-mulher{
    width: 100%;
    margin-left: 25%;
    margin-right: 25%;
    border: 5px solid white;
}

h1{
    text-transform: uppercase;
    font-weight: 900;
    margin-top: 3%;
    margin-left: 50%;
}

p{
    font-size: 1rem;
    font-weight: 900;
    margin-left: 50%;
}